<section
  id="inicio"
  class="relative min-h-screen flex items-center justify-center overflow-hidden pt-30"
>
  <h1 class="sr-only">
    Clases de canto y coaching vocal en Mar del Plata con Claudia Inés Marturano
    - Escuela Holística de Expresión
  </h1>
  <div class="flex justify-center items-center">
    <img
      src="./images/lavozcreativalogocompleto.webp"
      alt="La Voz Creativa Escuela Holística de Expresión - Logo de la escuela"
      class="h-auto max-h-[80dvh] w-auto max-w-[90vw] sm:max-w-[600px]"
    />
  </div>
</section>
