<footer class="bg-transparent text-custom-text">
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid grid-cols-1 md:grid-cols-[2fr_auto_auto] gap-8 md:gap-12">
      <!-- Columna 1: Información Principal -->
      <div class="md:col-span-1 space-y-4">
        <h2 class="text-4xl font-bold text-custom-title">La Voz Creativa</h2>
        <h3 class="text-2xl font-secondary">Escuela Holística de Expresión</h3>
        <p class="max-w-lg leading-relaxed">
          Transformando vidas a través de la expresión holística y el desarrollo
          personal. Acompañamos a nuestros estudiantes en su camino de
          autodescubrimiento y crecimiento personal.
        </p>
      </div>

      <!-- Columna 2: Enlaces -->
      <div class="space-y-4">
        <h4 class="text-xl font-semibold text-custom-title">Enlaces Rápidos</h4>
        <ul class="space-y-2">
          {
            [
              "Inicio",
              "Servicios",
              "Coach",
              "Historia",
              "FAQs",
              "Testimonios",
              "Contacto",
            ].map((item) => (
              <li>
                <a
                  href={`#${item.toLowerCase().replace(" ", "-")}`}
                  class="md:hover:text-fuchsia-900 "
                >
                  {item}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Columna 3: Redes Sociales -->
      <div class="space-y-4">
        <h4 class="text-xl font-semibold text-custom-title">Síguenos</h4>
        <div class="flex space-x-4">
          <a
            href="#"
            class="hover:text-custom-title transition-colors duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-8 w-8"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Línea divisoria y derechos reservados -->
  <div
    class="mt-12 pt-12 border-t border-custom-text/10 text-center text-sm pb-12"
  >
    <p>
      &copy; {new Date().getFullYear()} Escuela Holística de Expresión. Todos los
      derechos reservados.
    </p>
  </div>
</footer>
