---
import "../styles/global.css";

const {
  title = "La Voz Creativa • Escuela Holistica de Expresión • Argentina • Claudia Inés Marturano • Coach Vocal",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <!--   <meta name="google-site-verification" content="sj7cw1UlvKxcTVZHwYcT43mPAUvnHillR5-srHZYINA" /> -->
    <meta name="google-site-verification" content="W4XQP48FCMJTJQTaA7h6PGzSgPBehTSL2xs-z_Gl4m8" />
   

   <!-- Google analitycs -->
   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-XRWPEMT1BB"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
    
     gtag('config', 'G-XRWPEMT1BB');
   </script>
 
 
  </head>
  <body class="min-h-screen bg-gradient-page">
    <!-- 	<body class="min-h-screen bg-gradient-to-b from-custom-yellow/10 via-white to-custom-pink/10 font-sans"> -->
    <slot />
  </body>
</html>

<script lang="ts">
  window.addEventListener("beforeunload", () => {
    localStorage.setItem("scrollPos", window.scrollY.toString());
  });

  window.addEventListener("load", () => {
    const scrollPos = localStorage.getItem("scrollPos");
    if (scrollPos !== null) {
      window.scrollTo(0, parseInt(scrollPos, 10));
    }
  });
</script>
